.container {
    width: 100vw;
    height: 100vh;
  }
  
  .box {
    width: 10%;
    height: 200px;
    transition-duration: 2s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .container:hover .box {
    width: 90%;
  }
  
  .one {
    background: #07BEB8;
    transition-timing-function: linear;
  }
  
  .two {
    background: #3DCCC7;
    transition-timing-function: ease-in;
  }
  
  .three {
    background: #9CEAEF;
    transition-timing-function: ease-out;
  }
  
  .four {
    background: #B1F8F2;
    transition-timing-function: ease-in-out;
  }
  
  /*
    transition-delay: 0;
    transition-duration: 1s;
    transition-property: background;
    transition-timing-function: ease;
  */