body {
    font-family: 'Raleway' sans-serif;
    background: #dddddd;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: repeat(4, minmax(90px, auto));
    grid-gap: 10px;
  }

.one{
 /* background-color: aquamarine; */
 padding: 30px;
 grid-row: 1/60;
 grid-row-gap: 20px;
}
.two{
 /* background-color: blanchedalmond; */
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: repeat(4, minmax(150px, auto));
 grid-row: 1/60;
 grid-gap: 10px;
}
.c-one{
  display: grid;
  grid-column: 1/4;
  /* background: #000; */
  /* color: aliceblue; */
}
.c-one div{
  display: flex;
  gap: 10px;
}

.two img{
  width: 80%;
}