.container {
  /* border: 2px solid green; */
  display: flex;
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  left: 25%;
}
.card1 {
  /* border: 2px solid red; */
  border-radius: 15px;
  width: 300px;
  height: 400px;
  background: linear-gradient(to top, rgb(59, 20, 255), rgb(89, 0, 255));
}
.no1 {
  /* border: 2px solid greenyellow; */
  width: 100px;
  height: 40px;
  padding-top: 0px;
  margin: 5% 25% 0% 32%;
}
.para1 {
  /* border: 2px solid red; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  font-weight: bold;
  color: rgba(250, 250, 250, 0.7);
}
.no2 {
  /* border: 2px solid blue; */
  height: 150px;
  width: 150px;
  border-radius: 60%;
  padding-top: 0px;
  margin: 5% 0% 0% 22%;
  background-color: rgba(25, 25, 140, 0.2);
}
.upa-no {
  /* border: 1px solid yellowgreen; */
  width: 30px;
  color: #fff;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  margin: 20px 0px 0px 35px;
}
.lowa-no {
  /* border: 1px solid yellow; */
  width: 40px;
  margin: 10px 0px 0px 55px;
  color: rgba(250, 250, 250, 0.7);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
.no3 {
  /* border: 1px solid red;  */
  width: 30%;
  margin: 5% 20% 0% 20%;
}
.great {
  /* border: 1px solid green; */
  width: 90px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin: 10px 0px 0px 40px;
  color: #fff;
}
.low-para {
  /* border: 2px solid green; */
  width: 60%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  font-weight: bold;
  font-size: 10px;
  color: rgba(250, 250, 250, 0.7);
  margin-left: 60px;
}
/*  */
/*  */
.card2 {
  /* border: 2px solid blue; */
  border-radius: 0px 15px 15px 0px;
  width: 300px;
  height: 400px;
  background-color: rgb(246, 246, 246);
}
.kid1 {
  /* border: 2px solid green; */
  margin: 5% 25% 0% 10%;
}
.sum {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
}
.kid2 {
  /* border: 2px solid yellow; */
  background-color: rgba(238, 190, 190, 0.7);
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin: 5% 25% 0% 10%;
}
.memo1 {
  margin-top: -25px;
  margin-left: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  color: red;
}
.numb1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -2px;
  margin-right: 5px;
}
.eit {
  font-weight: bolder;
}
.kid3 {
  /* border: 2px solid yellow; */
  background-color: rgba(238, 190, 190, 0.7);
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin: 5% 25% 0% 10%;
}
.memo2 {
  margin-top: -25px;
  margin-left: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  color: orange;
}
.numb2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -2px;
  margin-right: 5px;
}
.nine {
  font-weight: bolder;
}
.kid4 {
  /* border: 2px solid yellow; */
  background-color: rgb(168, 217, 241);
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin: 5% 25% 0% 10%;
}
.memo3 {
  margin-top: -25px;
  margin-left: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(58, 151, 123);
}
.numb3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -2px;
  margin-right: 5px;
}
.six {
  font-weight: bolder;
}
.kid5 {
  /* border: 2px solid yellow; */
  background-color: rgb(168, 217, 241);
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin: 5% 25% 0% 10%;
}
.memo4 {
  margin-top: -25px;
  margin-left: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  color: blue;
}
.numb4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -2px;
  margin-right: 5px;
}
.seven {
  font-weight: bolder;
}
.button {
  width: 70%;
  height: 35px;
  background: linear-gradient(to top, rgb(67, 128, 235), rgb(0, 99, 247) 90%);
  margin-left: 10%;
  margin-top: 20px;
  padding-top: 8px;
  border-radius: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  border: 0px;
}
.footer{
  margin-top: 10%;
  background: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}